body{
  font-family: 'Inter', sans-serif;
}

.bg-img{
  background-image: url("images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: -1;
  /* height: 80%; */
}

.content{
  padding-top: 22%;
  width: 140%;
  padding-left: 25%;
}

.paragraph{
  font-weight: 300;
  font-size: 32px;
  z-index: -1;
  color: hsl(240, 38%, 20%);
}

.name{
  font-weight: 700;
  color: hsl(240, 38%, 20%);
}

.position{
  font-weight: 500;
  color: hsl(240, 18%, 77%);
}

.row{
  height: 95vh;
}

.person-img{
  margin-top: 11%;
  border-radius: 4px;
  margin-left: 18.5%;
}
